Source: abraflexi-cashier
Section: unknown
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.0
Homepage: https://github.com/VitexSoftware/abraflexi-cashier
Rules-Requires-Root: no
Vcs-Git: git@github.com:VitexSoftware/abraflexi-cashier.git
Vcs-Browser: https://github.com/VitexSoftware/abraflexi-cashier

Package: abraflexi-cashier
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 composer-debian,
 php-cli,
 php-spojenet-abraflexi (>=3.5)
Description: Cash Tools for AbraFlexi
 Cashier for AbraFlexi is a PHP-based tool that helps manage 
 your cash register by generating weekly expense receipts
 based on the current balance in your AbraFlexi account.

Package: multiflexi-abraflexi-cashier
Depends: abraflexi-cashier, multiflexi
Architecture: all
Section: web
Priority: optional
Description: MultiFlexi configuration of AbraFlexi cashier
 Set up AbraFlexi cashier tools in MultiFlexi
