#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,-O1

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@ --with phpcomposer

override_dh_prep:
	rm -rf vendor
	dh_prep

override_dh_install:
	dh_install
	# Install Debian autoloader
	install -D -m 0644 debian/autoload.php debian/abraflexi-cashier/usr/share/php/abraflexi-cashier/autoload.php
	sed -i "1a defined('APP_NAME') || define('APP_NAME', '$(PKG_SOURCE)');" \
		debian/abraflexi-cashier/usr/share/php/abraflexi-cashier/autoload.php
	sed -i "s|: 'unknown'|: '$(PKG_SOURCE)'|" \\
		debian/abraflexi-cashier/usr/share/php/abraflexi-cashier/autoload.php
	sed -i "s|: '0.0.0'|: '$(PKG_VERSION)'|" \\
		debian/abraflexi-cashier/usr/share/php/abraflexi-cashier/autoload.php
	sed -i "2a defined('APP_VERSION') || define('APP_VERSION', '$(PKG_VERSION)');" \
		debian/abraflexi-cashier/usr/share/php/abraflexi-cashier/autoload.php
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/conf/composer.json |sponge debian/abraflexi-cashier/usr/lib/abraflexi-cashier/composer.json
	sed -i -e 's/..../\/usr\/share\/locale/g'            	      debian/abraflexi-cashier/usr/share/abraflexi-cashier/*.php
	sed -i -e 's/..../\/usr\/share\/php\/abraflexi-cashier/g' 	      debian/abraflexi-cashier/usr/share/abraflexi-cashier/*.php
	sed -i -e 's/..\/.env//'                                  debian/abraflexi-cashier/usr/share/abraflexi-cashier/*.php
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/abraflexi-cashier-withdrawal.multiflexi.app.json |sponge  debian/multiflexi-abraflexi-cashier/usr/lib/abraflexi-cashier/multiflexi/abraflexi-cashier-withdrawal.multiflexi.app.json
